.hero {
  margin-top: 20px;
  padding: 40px;
  background-color: #2982C2;
  color: rgb(26, 29, 80);
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

.hero h1 {
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  text-shadow: 0 1px 0 black;
}

.hero img {
 width: 50%;
}

.find-recipes {
  background-color: #1FC2AF;
  padding: 10px;
  margin: 5px;
  transition-duration: 200ms;
}

.find-recipes a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.find-recipes:hover {
  transition-duration: 200ms;
  background-color: #C29F15;
  box-shadow: 1px 1px 4px grey;
}

@media only screen and (min-width: 768px){

  .hero {
    height: 86vh;
  }

  .hero h1 {
    margin-top: 150px;
    font-size: 50px;
  }

  .hero img {
    margin-top: 50px;
    width: 20%;
   }

  .hero p {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px){

  .hero {
    height: 82vh;
  }

  .hero h1 {
    margin-top: 150px;
    font-size: 50px;
  }

  .hero img {
    margin-top: 50px;
    width: 10%;
   }

  .hero p {
     width: 50%;
     margin: 0 auto;
   }
}