.recipe-detail {
  background-color: #2982c2;
  margin-top: -20px;
}

.recipe-delete {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 100px;
  padding: 10px;
  background-color: #1fc2af;
  border-radius: 5px;
}

.ingredients {
  border: 1px solid #94b3c9;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #5e7a8e;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  background-color: white;
}

.instructions {
  border: 1px solid #94b3c9;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #5e7a8e;
  margin: 10px auto;
  padding: 0 30px 0 0;
  width: 80%;
  background-color: white;
  font-size: 14px;
}

.source {
  border: 1px solid #94b3c9;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #5e7a8e;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  background-color: white;
}

.ingredient-list li {
  list-style-position: inside;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .recipe-detail {
    margin-top: -50px;
  }

  .ingredient-list li {
    font-size: 18px;
    margin: 0 100px;
    width: 70%;
  }

  .instructions {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .ingredient-list li {
    font-size: 18px;
    margin: 0 300px;
    width: 80%;
  }
}
