nav {
  display: flex;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding:  0 10px;
  background-color: #C2653C;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 10;
  margin: 10px;
  text-align: center;
}

nav ul li {
  margin-left: 8px;
  line-height: 18px;
}

.logo {
  color: white;
  text-decoration: none;
  transition-duration: 100ms;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  /* padding-top: 5px;
  padding-left: 3px;
  padding-right: 10px; */

}

.logo:hover {
  color: #C2653C;
  background-color: white;
  transition-duration: 500ms;
}

.nav-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition-duration: 100ms;
  border-radius: 2px;
  font-size: 16px;
  /* padding-top: 3px;
  padding-bottom: 3px; */
}

.nav-item:hover {
  color: #C2653C ;
  background-color: white;
  transition-duration: 500ms;
}

@media only screen and (min-width: 768px){
  nav {
    height:75px;
  }
  .logo {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    
  }
  .nav-item {
    font-size: 20px;
    
    
  }
  nav ul li {
    margin-top: 20px;
    margin-left: 20px;
  }
}
